{% extends "index.html" %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Account Sheet' %}{% endblock %}
{% block content %}
<h1>{% trans 'Account Sheet' %}</h1>
{% if accounts %}
<table>
  <tr><th>{% trans 'Account number' %}</th><th>{% trans 'Description' %}</th><th>{% trans 'Balance' %}</th></tr>
  {% for account in accounts %}
  <tr><td><a href="/account/{{ account.accno }}/" title="{% trans 'View movements on this account.' %}">{{ account.accno }}</a></td><td>{{ account.description }}</td><td>{{ account.balance }}</td></tr>
  {% endfor %}
</table>
{% else %}
<p>&#45;&nbsp;&#45;&nbsp;&#45;</p>
{% endif %}
<p><a href="/recalc/">({% trans 'Recalculate' %})</a></p>
{% endblock %}
