{% extends "index.html" %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Balance sheet' %}{% endblock %}
{% block content %}
<h1>{% trans 'Balance Sheet' %}</h1>
<p>{% trans 'Date' %}: {{ date }}</p>
<h2>{% trans 'Assets' %}</h2>
{% if assets %}
<table>
  {% for acc in assets %}
  <tr><td>{{ acc.accno }}</td><td>{{ acc.description }}</td><td>{{ acc.balance }}</td></tr>
  {% endfor %}
  <tr><td colspan="2">{% trans 'Sum' %}</td><td>{{ asset_sum }}</td></tr>
</table>
{% else %}
<p>&#45;&nbsp;&#45;&nbsp;&#45;</p>
{% endif %}

<h2>{% trans 'Liabilities' %}</h2>
{% if liabilities %}
<table>
  {% for acc in liabilities %}
  <tr><td>{{ acc.accno }}</td><td>{{ acc.description }}</td><td>{{ acc.balance }}</td></tr>
  {% endfor %}
  <tr><td colspan="2">{% trans 'Sum' %}</td><td>{{ liab_sum }}</td></tr>
</table>
{% else %}
<p>&#45;&nbsp;&#45;&nbsp;&#45;</p>
{% endif %}

<h2>{% trans 'Equity' %}</h2>
{% if equity %}
<table>
  {% for acc in equity %}
  <tr><td>{{ acc.accno }}</td><td>{{ acc.description }}</td><td>{{ acc.balance }}</td></tr>
  {% endfor %}
  <tr><td colspan="2">{% trans 'Sum' %}</td><td>{{ equity_sum }}</td></tr>
</table>
{% else %}
<p>&#45;&nbsp;&#45;&nbsp;&#45;</p>
{% endif %}


{% endblock %}
